<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='../styles/styles.css'>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- navbar -->
  <div class="navbar_class">
    <div style="display: flex; flex-direction: row;">
      <div>
        <img src="../images/logo-bg.png" class="logo">
      </div>
  <div style="display: flex; align-items: center; margin-left: 20px; font-size: larger;">
    
      ArgoTech Nexus

  </div>
    </div>
   
<div class="nav_items" >
  <div >
    <a class="nav_items_i" href="/home">Home</a>
  </div>
  <div >
    <a class="nav_items_i" href="https://sihmarketing.softr.app/">Marketplace</a>
  </div>
  <div >
    <a class="nav_items_i" href="/new">Entry</a>
  </div>
 
 
 
</div>
  </div>
  <!-- <nav class="navbar navbar-expand-lg navbar_class ">
    <div class="container-fluid ">
      <div>
        <a class="navbar-brand" href="/home">AgroTech Nexus</a>

      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://sihmarketing.softr.app/">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>

        </ul>
      </div>
    </div>
  </nav> -->


  <section>
    <div class="title_box">
      <div class="title">
        <div style="font-size: 400%">
          Your pass to a open up agriculture
        </div>
        <div style="font-size: 150% ; margin-top:50px">
          Control your farm, embrace your community
        </div>
      </div>

      <div>
        <img class="intro_img" src="../images/ninjacart.jpg">
      </div>
    </div>


  </section>
  <section
    style="display:flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 80px;">
    <div style="font-size: 400%; color: rgb(18, 57, 18);">
      Growing food for a better tomorrow
    </div>
    <div style="font-size: 150% ; margin-top:50px; color: green;">

      Safely control and shape your food supply, giving you freedom and choice.




    </div>
    <div style="font-size: 150% ;color: green">


      Own your food story and reflect your true Indian values.


    </div>
  </section>
  <section>
    <div class="container cards ">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="./images/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
              <p style="font-size: 200%; font-weight: 600;">Improved traceability and transparency</p>
              <p style="font-size: 150%;">Farmers can track the movement of their crops from farm to table.</p>
              <p style="font-size: 80%; font-weight:lighter;">With self-sovereign agriculture, farmers can use
                technology to track the movement of their crops from farm to table. This allows them to ensure the
                quality and safety of their products and to provide consumers with more transparency about where their
                food comes from.</p>
              </p>
              <a href="https://google.com">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="./images/farmers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
              <p style="font-size: 200%; font-weight: 600;">Increased resilience</p>
              <p style="font-size: 150%;">Farmers can adapt to changing conditions</p>
              <p style="font-size: 80%; font-weight:lighter;">With our web app, farmers can adapt to changing
                conditions. For example, they can use data to predict droughts and floods and to take steps to mitigate
                their impact.</p>
              </p>
              <a href="https://google.com">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="./images/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
              <p style="font-size: 200%; font-weight: 600;">Greater efficiency and productivity</p>
              <p style="font-size: 150%;">Farmers can use data to make better decisions about their operations.</p>
              <p style="font-size: 80%; font-weight:lighter;">With AgroTech Nexus, farmers can use data to make better
                decisions about their operations. For example, they can use data to track crop yields and expected
                profits, identify pests and diseases, and optimize their water usage.</p>
              </p>
              <a href="https://google.com">Learn More</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="price_box">
    <div class="map_box">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62146.26272734922!2d79.02845857175895!3d13.21643654138702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5c1a6cca26a1%3A0xaaadf018b7f72797!2sChittoor%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1694650405156!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <section id="form">
        <div class="form_class text-center">
          <form action="/search" method="POST" style="width: 150%;">

            <div class="mb-3">
              <label for="state" class="form-label">State</label>
              <input required type="text" value="<%= item.state%>" class="form-control" name="state" id="state">
            </div>

            <div class="mb-3">
              <label for="district" class="form-label">district</label>
              <input required type="text" value="<%= item.district%>" class="form-control" id="district"
                name="district">
            </div>
            <div class="mb-3">
              <label for="market" class="form-label">market</label>
              <input required type="text" value="<%= item.market%>" class="form-control" id="market" name="market">
            </div>
            <div class="mb-3">
              <label for="commodity" class="form-label">commodity</label>
              <input required type="text" value="<%= item.commodity%>" class="form-control" id="commodity"
                name="commodity">
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">price</label>
              <input required type="text" value="<%= item.price%>" class="form-control" id="price" name="price">
            </div>

            <br>

            <br>
            <div class="d-flex justify-content-center ">
              <button type="submit" class="btn btn-success m-2">Search</button>

              <!-- <a href="/" class="btn btn-secondary m-2" ">Cancel</a> -->

              <!-- <a href="/new" class="btn btn-danger m-2" ">Reset</a> -->

            </div>
          </form>
        </div>

      </section>
    </div>
  </section>

























  <!-- footer -->
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>ArgoTech Nexus
            </h6>
            <p>
              Your pass to a open up agriculture
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Team members
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://google.com/">Made with ❤️ for the 🧑🏽‍🌾 of 🇮🇳</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


<div id="google_element"></div>
  <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate">
    
  </script>
  <script>
    function loadGoogleTranslate() {
      new google.translate.TranslateElement("google_element");
    }

    
  </script>
</body>


</html>
